@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Glacial-Indifference Regular';
    src: url('/src/assets/fonts/GlacialIndifference-Regular.otf') format('opentype');
  }
  @font-face {
    font-family: 'Glacial-Indifference Bold';
    src: url('/src/assets/fonts/GlacialIndifference-Bold.otf') format('opentype');
  }