.white-border{
    -webkit-text-stroke-color: #F8FAFC;
    -webkit-text-stroke-width: 0.2px;

}

.white-border2{
    -webkit-text-stroke-color: #F8FAFC;
    -webkit-text-stroke-width: 0.4px;

}

.orange-border{
    -webkit-text-stroke-color: #D56C3A;
    -webkit-text-stroke-width: 0.8px;
}


@media (min-width: 768px) { 
    .white-border{
    -webkit-text-stroke-color: #F8FAFC;
    -webkit-text-stroke-width: 0.5px;
    }
    .white-border2{
    -webkit-text-stroke-color: #F8FAFC;
    -webkit-text-stroke-width: 1px;
    }
    .orange-border{
    -webkit-text-stroke-color: #D56C3A;
    -webkit-text-stroke-width: 1.5px;
    }
    
 }

 @media (min-width: 1024px) { 
    .white-border2{
    -webkit-text-stroke-color: #F8FAFC;
    -webkit-text-stroke-width: 2px;
    }
    .orange-border{
    -webkit-text-stroke-color: #D56C3A;
    -webkit-text-stroke-width: 3px;
}
  }